*{
    font-family: sans-serif;
}
ul{
    list-style: none;
    font-weight: 100;
    display: flex;
    margin-right: 10px;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    padding-right: 40px;
    padding-left: 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -21px;
}

.main{
    flex:1;
    display: flex;
    padding-left: 40px;
    color: #F9FAF8;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #1F2937;
}

p{
    color: #E5E7EB;
    margin-top: -20px;
    padding-right: 150px;
    font-size: 14px;
}
h1{
    font-weight: bold;
    padding-right: 200px;
}

.text{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.sign-up{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 8px;
}

.first-img{
    padding-right: 50px;
    width:500px;
    height: auto;
}
.info-container{
    flex:1;
    display: flex;
}