ul{
    list-style: none;
    display: flex;
    margin-right: 10px;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    font-family: sans-serif;
    font-size: 24px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -21px;
}

.main{
    color: #F9FAF8;
    padding: 10px;
    background-color: #1F2937;
}

.main p{
    color: #E5E7EB;
}